<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685854751897-16g49pa3si555rjtho66r1krt21gka6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685854751897-16g49pa3si555rjtho66r1krt21gka6a</string>
	<key>API_KEY</key>
	<string>AIzaSyAgc25OMaI5T4tjzT9Gq9qT_LFlS37nRMM</string>
	<key>GCM_SENDER_ID</key>
	<string>685854751897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joseegc10.What2wear</string>
	<key>PROJECT_ID</key>
	<string>what2wear-e7bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>what2wear-e7bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685854751897:ios:1fa234512908b9a1e1cc08</string>
</dict>
</plist>